{% extends 'base.html.twig' %}

{% block title %}Lien vers Nouveau mot de passe{% endblock %}

{% block container %}
<div class="form__email">
    <h1 class="form__email-title">Lien vers Nouveau mot de passe</h1>
    <p>
        Un email contenant un lien de réinitialisation de votre mot de passe
        vous a été envoyé.
        Ce lien expirera dans {{ tokenLifetime|date('g') }} heure(s).
    </p>
    <p>
        Si vous ne recevez pas de mail, vérifier votre dossier de spam ou sinon
        <span class="green"><a href="{{ path('app_forgot_password_request') }}">essayer à nouveau</a></span>.
    </p>
</div>
{% endblock %}
