<style>
    .email {
        width: 100%;
        height: auto;
    }

    .email__logo {
        height: auto;
        text-align: center;
    }

    .email__container {
        width: 70%;
        margin: 0 auto;
    }

    .email__title {
        font-size: 20px;
        line-height: 50px;
        text-align: center;
        text-transform: uppercase;
        color: white;
        background-color: #5ACD82;
    }

    .email__content {
        width: 90%;
        margin: 0 auto;
    }

    .email__para {
        text-align: justify;
        font-size: 20px;
    }
</style>

<div class="email">
    <div class="email__logo">
        <img src="{{ absolute_url(asset('build/header/header-email.png')) }}" alt="logo">
    </div>
    <div class="email__container">
        <div class="email__title">
            <h1>Bonjour !</h1>
        </div>
        <div class="email__content">
            <p class="email__para">
                Pour réinitialiser votre mot de passe, cliquer
                <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">sur ce lien</a><br/>
                Ce lien expirera dans {{ tokenLifetime|date('g') }} heure(s).
            </p>
            <p class="email__para">
                A tout de suite sur Craft Betting !
            </p>
        </div>
    </div>
</div>
