{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block container %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="flash__error" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="form__email">
        <h1 class="form__email-title">Mise à jour de votre mot de passe</h1>

        {{ form_start(requestForm, {'attr': {'class': 'form form__email-container'}}) }}
        <div class="form__content">
            <div class="form__item form__email__item-email">
                <label class="form__item-label" for="reset_password_request_form_email">email ...</label>
                {{ form_widget(requestForm.email, {'attr': {'id': 'reset_password_request_form_email', 'class': 'form__item-input'}}) }}
            </div>
            <div class="form__email__item-comment">
                    Taper votre adresse email et nous vous enverrons un
                    lien pour mettre à jour votre mot de passe
            </div>
            <div class="form__item form__submit">
                <input class="form__item-submit" type="submit" value="envoyer">
            </div>
        </div>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}