{% extends 'base.html.twig' %}

{% block container %}
    {% include 'utils/rss.html.twig' %}
    <div class="tips-and-vip__container">
        {% include 'block/hppronos.html.twig' %}
        {% include 'block/subscription.html.twig' %}
    </div>
{% endblock %}