{% extends 'base.html.twig' %}

{% block title %}Basket{% endblock %}
{% block container %}

    <div class="container">
        {% include 'utils/breadcrumb.html.twig' %}
        <div class="container__sports">
            <div class="container__sports-left-basket"></div>
            <div class="container__sports-center">
                {% include 'block/aside.html.twig' %}
            </div>
            <div class="container__sports-right-basket"></div>
        </div>
    </div>

{% endblock %}