@import "colors";

/* BORDER COLOR */

.black-border {
  border: 1px solid  $black;
}

.diamond-border {
  border: 1px solid  $diamond;
}

.gold-border {
  border: 1px solid  $gold;
}

.green-border {
  border: 1px solid  $green;
}

.red-border {
  border: 1px solid  $red;
}

.silver-border {
  border: 1px solid  $silver;
}

.white-border {
  border: 1px solid  $white;
}