/* COLORS */

$black: black;
$blue: lightcyan;
$diamond: #70D1F4;
$gold: #FFD700;
$green: #5acd82;
$red: #ff0101;
$silver: #A6ACAF;
$white: white;

/* COLORS */
.black {
  color: $black;
}

.blue {
  color: $blue;
}

.diamond, .diamant {
  color: $diamond;
}

.gold, .or {
  color: $gold;
}

.green, .decouverte {
  color: $green;
}

.red {
  color: $red;
}

.silver, .argent {
  color: $silver;
}

.white {
  color: $white;
}
