/* COLORS */

$black: black;
$diamond: #70D1F4;
$gold: #FFD700;
$green: #5ACD82;
$red: #ff0101;
$silver: #A6ACAF;
$white: white;

/* COLORS */
.black {
  color: $black;
}

.diamond {
  color: $diamond;
}

.gold {
  color: $gold;
}

.green {
  color: $green;
}

.red {
  color: $red;
}

.silver {
  color: $silver;
}

.white {
  color: $white;
}
