/* BODY */
body {
  font-family: 'Roboto Condensed', sans-serif;
}

/* CLASSICAL ATTRIBUTES */
h1, h3 {
  text-transform: uppercase;
  font-weight: bold;
}

/* CLASSES */
.hidden {
  display: none;
}

.show {
  display: block;
}

@media only screen and (max-width: $mobile) {
  .mobile-show {
    display: block;
  }

  .mobile-hide {
    display: none;
  }
}

@media only screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
  .tablet-show {
    display: block;
  }

  .tablet-hide {
    display: none;
  }
}

@media only screen and (min-width: $desktop) {
  .desktop-show {
    display: block;
  }

  .desktop-hide {
    display: none;
  }
}