/* DESKTOP */
@media screen and (min-width: $desktop) {
  .tips-and-chart__container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
  }
}

/* TABLET */
@media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
  .tips-and-chart__container {
    width: 100%;
    height: auto;
    display: block;
  }
}

/* MOBILE */
@media screen and (max-width: $mobile) {
  .tips-and-chart__container {
    width: 100%;
    height: auto;
    display: block;
  }
}
