/* DESKTOP */
@media screen and (min-width: $desktop) {
  .chart {
    width: 50%;
    border: 1px solid $black;

    &__titles {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      margin: 0 auto;
      line-height: 100px;
      background-color: #d3d3d354;
    }

    &__title {
      font-size: 20px;
      text-transform: uppercase;
      color: $black;
      font-weight: bold;

      &:hover {
        cursor: pointer;
      }

      &-active {
        color: $green;
      }
    }

    &__curve {
      display: block;
      padding-top: 30px;
    }

    &__doughnut {
      display: none;
      padding-top: 30px;
    }

    &__bar {
      display: none;
      padding-top: 30px;
    }
  }
}

/* TABLET */
@media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
  .chart {
    width: 100%;
    border: 1px solid $black;

    &__titles {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      margin: 0 auto;
      line-height: 50px;
      background-color: #d3d3d354;
    }

    &__title {
      font-size: 20px;
      text-transform: uppercase;
      color: $black;
      font-weight: bold;

      &-active {
        color: $green;
      }
    }

    &__curve {
      display: block;
      padding-bottom: 15px;
    }

    &__doughnut {
      display: none;
      padding-bottom: 15px;
    }

    &__bar {
      display: none;
      padding-bottom: 15px;
    }
  }
}

/* MOBILE */
@media screen and (max-width: $mobile) {
  .chart {
    width: 100%;
    border: 1px solid $black;

    &__titles {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      margin: 0 auto;
      line-height: 50px;
      background-color: #d3d3d354;
    }

    &__title {
      font-size: 13px;
      text-transform: uppercase;
      color: $black;
      font-weight: bold;

      &-active {
        color: $green;
      }
    }

    &__curve {
      display: block;
      padding-bottom: 5px;
    }

    &__doughnut {
      display: none;
      padding-bottom: 5px;
    }

    &__bar {
      display: none;
      padding-bottom: 5px;
    }
  }
}
