<div class="affiliate">
    <div class="affiliate__grid">
        <div class="affiliate__item">
            <a href="test.com">
                <img src="{{ asset('build/affiliate/betclic.png') }}" alt="banner" class="affiliate__item--img"/>
            </a>
        </div>
        <div class="affiliate__item">
            <a href="test.com">
                <img src="{{ asset('build/affiliate/betclic.png') }}" alt="banner" class="affiliate__item--img"/>
            </a>
        </div>
        <div class="affiliate__item">
            <a href="test.com">
                <img src="{{ asset('build/affiliate/betclic.png') }}" alt="banner" class="affiliate__item--img"/>
            </a>
        </div>
        <div class="affiliate__item">
            <a href="test.com">
                <img src="{{ asset('build/affiliate/betclic.png') }}" alt="banner" class="affiliate__item--img"/>
            </a>
        </div>
    </div>
    <div class="affiliate__infos">
        <h1>Craft Betting</h1>
        <p class="affiliate__infos-para">Les artisans du betting vous proposent les meilleurs pronostics du moment</p>
    </div>
</div>