<div class="affiliate">
    <div class="affiliate__item">
        <a href="test.com">
            <img src="{{ asset('build/affiliate/betclic.png') }}" alt="banner" class="affiliate__item--img"/>
        </a>
    </div>
    <div class="affiliate__item">
        <a href="test.com">
            <img src="{{ asset('build/affiliate/betclic.png') }}" alt="banner" class="affiliate__item--img"/>
        </a>
    </div>
    <div class="affiliate__item">
        <a href="test.com">
            <img src="{{ asset('build/affiliate/betclic.png') }}" alt="banner" class="affiliate__item--img"/>
        </a>
    </div>
    <div class="affiliate__item">
        <a href="test.com">
            <img src="{{ asset('build/affiliate/betclic.png') }}" alt="banner" class="affiliate__item--img"/>
        </a>
    </div>
</div>