<div class="aside">
    <div class="aside__section">
        <div class="aside__section-title">sports</div>
        <div class="aside__items">
            <a href="{{ path('sports_football') }}">
                <div class="aside__item">
                    <div class="aside__item-logo aside__item-logo-foot"></div>
                    <div class="aside__item-title">
                        Football
                    </div>
                </div>
            </a>
            <a href="{{ path('sports_basketball') }}">
                <div class="aside__item">
                    <div class="aside__item-logo aside__item-logo-basket"></div>
                    <div class="aside__item-title">
                        Basket
                    </div>
                </div>
            </a>
            <a href="{{ path('sports_tennis') }}">
                <div class="aside__item">
                    <div class="aside__item-logo aside__item-logo-tennis"></div>
                    <div class="aside__item-title">
                        Tennis
                    </div>
                </div>
            </a>
        </div>
        <div class="aside__section-title">compétitions</div>
        <div class="aside__section-subtitle">football</div>
        <div class="aside__items">
            <div class="aside__item">
                <div class="aside__item-logo aside__item-logo-ldc"></div>
                <div class="aside__item-title">Ligue Des Champions</div>
            </div>
            <div class="aside__item">
                <div class="aside__item-logo aside__item-logo-europa"></div>
                <div class="aside__item-title">Ligue Europa</div>
            </div>
            <div class="aside__item">
                <div class="aside__item-logo aside__item-logo-l1"></div>
                <div class="aside__item-title">Ligue 1</div>
            </div>
            <div class="aside__item">
                <div class="aside__item-logo aside__item-logo-l2"></div>
                <div class="aside__item-title">Ligue 2</div>
            </div>
            <div class="aside__item">
                <div class="aside__item-logo aside__item-logo-ligua"></div>
                <div class="aside__item-title">Ligua</div>
            </div>
            <div class="aside__item">
                <div class="aside__item-logo aside__item-logo-premierleague"></div>
                <div class="aside__item-title">Premier League</div>
            </div>
            <div class="aside__item">
                <div class="aside__item-logo aside__item-logo-bundesliga"></div>
                <div class="aside__item-title">Bundesliga</div>
            </div>
            <div class="aside__item">
                <div class="aside__item-logo aside__item-logo-seria"></div>
                <div class="aside__item-title">Serie A</div>
            </div>
        </div>
        <div class="aside__section-subtitle">basket</div>
        <div class="aside__items">
            <div class="aside__item">
                <div class="aside__item-logo aside__item-logo-nba"></div>
                <div class="aside__item-title">NBA</div>
            </div>
        </div>
        <div class="aside__section-subtitle">tennis</div>
        <div class="aside__items">
            <div class="aside__item">
                <div class="aside__item-logo aside__item-logo-atp"></div>
                <div class="aside__item-title">ATP</div>
            </div>
        </div>
    </div>
</div>