<div class="chart">
    <div class="chart__titles">
        <div class="chart__title chart__title-active">cagnotte</div>
        <div class="chart__title">% paris réussis</div>
        <div class="chart__title">résultats mensuels</div>
    </div>
    <div class="chart__curve">
        <canvas id="chart__curve">
            <input type="hidden" id="dataLabelsCurve" value="{{ chartCurves }}">
        </canvas>
    </div>
    <div class="chart__doughnut">
        <canvas id="chart__doughnut">
            <input type="hidden" id="dataLabelsDoughnut" value="{{ chartCurves }}">
        </canvas>
    </div>
</div>

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    {{ encore_entry_script_tags('chart') }}
{% endblock %}