<div class="footer">
    <div class="footer__grid">
        <div>01</div>
        <div>02</div>
        <div>03</div>
        <div>04</div>
    </div>
    <div class="footer__copyright">
        Copyright © <span class="footer__copyright-year"></span> ||CraftBetting.com|| - Tous droits réservés
    </div>
    <div class="footer__addict">
        Les jeux d'argent et de hasard sont interdits aux mineurs.
        Jouer comporte des risques : endettement, dépendance, isolement.
        Appelez le 09.74.75.13.13 (appel non surtaxé)
    </div>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('footer') }}
{% endblock %}
