{#{{ render(controller('App\\Controller\\SecurityController::login')) }}#}

<header class="header">
    <div class="header__user">
        <div class="header__user-connexion">
            <div class="header__user-popin">
                {{ include('block/forms/user-connect.html.twig') }}
            </div>
            <div class="header__user-connexion-logo" id="logo">
                <img src="{{ asset('build/header/user.png') }}" alt="???"
                     class="header__user-connexion-logo-img">
            </div>
            <div class="header__user-connexion-infos">
                228 parieurs connectés / inscrits
            </div>
        </div>
    </div>
    <div class="header__banner">
        <div class="header__banner--img-div"></div>
    </div>
</header>

{% block javascripts %}
    {{ encore_entry_script_tags('header') }}
{% endblock %}