<header class="header">
    <div class="header__banner">
        <div class="header__banner--img-div">
            <img src="{{ asset('build/banner/banner.png') }}" alt="banner" class="header__banner--img"/>
        </div>
    </div>
    {#        <div class="header__menu">#}
    {#            MENU#}
    {#        </div>#}
</header>