<div class="inscription">
    <p class="inscription__para mobile-hide tablet-show desktop-show">
        Inscrivez vous vite en cliquant sur un de nos sites partenaires ci-dessous et commencez
        l'aventure avec nous !
    </p>
    <p class="inscription__para mobile-show tablet-hide desktop-hide">
        Inscrivez vous vite en cliquant sur un de nos sites partenaires !
    </p>
</div>