<div class="subscription">
    <div class="subscription__head">
        <p class="subscription__head-title">
            Formules vip
        </p>
        <p class="subscription__head-subtitle">
            Rejoignez le club VIP pour maximiser vos gains
        </p>
    </div>
    <div class="subscription__content">
        <div class="subscription__content-fee">
            <div class="subscription__content-fee-block">
                <div class="subscription__content-fee-block-title">
                    formule
                    <span class="green">
                        découverte
                    </span>
                </div>
                <div class="subscription__content-fee-block-subtitle green">
                    7 jours gratuits
                </div>
                <ul class="subscription__content-fee-block-infos">
                    <li class="subscription__content-fee-block-infos-info">
                        nos grosses cotes
                    </li>
                    <li class="subscription__content-fee-block-infos-info">
                        sans engagement
                    </li>
                </ul>
            </div>
            <div class="subscription__content-fee-button">
                <button class="green green-border btn-hover-green">souscrire</button>
            </div>
        </div>
        <div class="subscription__content-fee">
            <div class="subscription__content-fee-block">
                <div class="subscription__content-fee-block-title">
                    formule
                    <span class="diamond">
                        diamant
                    </span>
                </div>
                <div class="subscription__content-fee-block-subtitle diamond">
                    100€ pour 1 an
                </div>
                <ul class="subscription__content-fee-block-infos">
                    <li class="subscription__content-fee-block-infos-info">
                        nos grosses cotes
                    </li>
                    <li class="subscription__content-fee-block-infos-info">
                        sans engagement
                    </li>
                    <li class="subscription__content-fee-block-infos-info">
                        lorem
                    </li>
                    <li class="subscription__content-fee-block-infos-info">
                        ipsum
                    </li>
                    <li class="subscription__content-fee-block-infos-info">
                        dolor sit amet
                    </li>
                    <li class="subscription__content-fee-block-infos-info">
                        amnesium tast
                    </li>
                </ul>
            </div>
            <div class="subscription__content-fee-button">
                <button class="diamond diamond-border btn-hover-diamond">souscrire</button>
            </div>
        </div>
        <div class="subscription__content-fee">
            <div class="subscription__content-fee-block">
                <div class="subscription__content-fee-block-title">
                    formule
                    <span class="gold">
                        or
                    </span>
                </div>
                <div class="subscription__content-fee-block-subtitle gold">
                    60€ pour 6 mois
                </div>
                <ul class="subscription__content-fee-block-infos">
                    <li class="subscription__content-fee-block-infos-info">
                        nos grosses cotes
                    </li>
                    <li class="subscription__content-fee-block-infos-info">
                        sans engagement
                    </li>
                    <li class="subscription__content-fee-block-infos-info">
                        lorem
                    </li>
                    <li class="subscription__content-fee-block-infos-info">
                        ipsum
                    </li>
                </ul>
            </div>
            <div class="subscription__content-fee-button">
                <button class="gold gold-border btn-hover-gold">souscrire</button>
            </div>
        </div>
        <div class="subscription__content-fee">
            <div class="subscription__content-fee-block">
                <div class="subscription__content-fee-block-title">
                    formule
                    <span class="silver">
                        argent
                    </span>
                </div>
                <div class="subscription__content-fee-block-subtitle silver">
                    40€ pour 3 mois
                </div>
                <ul class="subscription__content-fee-block-infos">
                    <li class="subscription__content-fee-block-infos-info">
                        nos grosses cotes
                    </li>
                    <li class="subscription__content-fee-block-infos-info">
                        sans engagement
                    </li>
                    <li class="subscription__content-fee-block-infos-info">
                        lorem
                    </li>
                </ul>
            </div>
            <div class="subscription__content-fee-button">
                <button class="silver silver-border btn-hover-silver">souscrire</button>
            </div>
        </div>
    </div>


</div>