.affiliate {
  width: 100%;
  height: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: $gold;

  &__item {
    height: 50px;
    margin: 0 auto;
    padding: 5%;

    &__link {

    }

    &--img {
      height: 50px;
      border-radius: 10px;
      box-shadow: 4px 4px 5px black;
      transition: transform .2s;

      &:hover {
        transform: scale(1.1);
        border: 2px solid white;
      }
    }
  }
}