/* DESKTOP */
@media screen and (min-width: $desktop) {
  .affiliate {
    width: 100%;
    height: auto;
    background-image: linear-gradient($black, 60%, $green);

    &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    &__item {
      height: 50px;
      margin: 0 auto;
      padding: 5%;

      &--img {
        height: 50px;
        border-radius: 10px;
        box-shadow: 4px 4px 5px black;
        transition: transform .2s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    &__infos {
      width: 100%;
      height: auto;
      padding-top: 2%;
    }

    &__infos-highlight {
      text-align: center;
      font-family: 'poland', sans-serif;
      color: $black;

    }

    &__infos-title {
      font-size: 70px;
      letter-spacing: 10px;
      vertical-align: middle;
      line-height: 50px;

      //-webkit-transition: all 0.5s;
      //-moz-transition: all 0.5s;
      //transition: all 0.5s;
      //
      //-webkit-animation: neon1 1.5s ease-in-out infinite alternate;
      //-moz-animation: neon1 1.5s ease-in-out infinite alternate;
      //animation: neon1 1.5s ease-in-out infinite alternate;
    }

    &__infos-para {
      font-size: 25px;
      line-height: 70px;
    }

  }
}

/* TABLET */
@media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
  .affiliate {
    width: 100%;
    height: auto;
    background-image: linear-gradient($black, 60%, $green);

    &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &__item {
      height: 50px;
      margin: 0 auto;
      padding: 5%;

      &--img {
        height: 50px;
        border-radius: 10px;
        box-shadow: 4px 4px 5px black;
        transition: transform .2s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    &__infos {
      width: 100%;
      height: auto;
      padding: 2% 0;
    }

    &__infos-highlight {
      text-align: center;
      font-family: 'poland', sans-serif;
      color: $black;

    }

    &__infos-title {
      font-size: 70px;
      letter-spacing: 10px;
      vertical-align: middle;
      line-height: 50px;

      //-webkit-transition: all 0.5s;
      //-moz-transition: all 0.5s;
      //transition: all 0.5s;
      //
      //-webkit-animation: neon1 1.5s ease-in-out infinite alternate;
      //-moz-animation: neon1 1.5s ease-in-out infinite alternate;
      //animation: neon1 1.5s ease-in-out infinite alternate;
    }

    &__infos-para {
      font-size: 20px;
      line-height: 30px;
    }

  }
}

/* MOBILE */
@media screen and (max-width: $mobile) {
  .affiliate {
    width: 100%;
    height: auto;
    background-image: linear-gradient($black, 60%, $green);

    &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &__item {
      height: 50px;
      margin: 0 auto;
      padding: 5%;

      &--img {
        height: 50px;
        border-radius: 10px;
        box-shadow: 4px 4px 5px black;
        transition: transform .2s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    &__infos {
      width: 100%;
      height: auto;
      padding: 2% 0;
    }

    &__infos-highlight {
      text-align: center;
      font-family: 'poland', sans-serif;
      color: $black;

    }

    &__infos-title {
      font-size: 35px;
      letter-spacing: 1px;
      vertical-align: middle;
      line-height: 50px;
    }

    &__infos-para {
      font-size: 16px;
      line-height: 20px;
    }

  }
}
