.header {
  width: 100%;
  height: auto;

  &__banner {
    margin: 0 auto;

    &--img-div {
      height: 300px;
    }

    &--img {
      width: 100%;
      height: 300px;
    }
  }

  //&__menu {
  //  width: 100%;
  //  height: 50px;
  //  background-color: lightgreen;
  //}
}

