.header {
  width: 100%;
  height: auto;

  &__banner {
    margin: 0 auto;

    &--img-div {
      @media only screen and (max-width: $mobile) {
        height: 175px;
        background: url("../../images/header/header_mobile.png") no-repeat;
        background-position: center;
      }
      @media only screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
        height: 300px;
        background: url("../../images/header/header.png") no-repeat;
        background-position: center;
      }
      @media only screen and (min-width: $desktop) {
        height: 300px;
        background: url("../../images/header/header.png") no-repeat;
        background-position: center;
      }
    }
  }
}

