.footer {
  width: 100%;
  height: 200px;

  &__grid {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    background-image: linear-gradient($green, 50%, $black);
  }

  &__copyright {
    width: 100%;
    line-height: 40px;
    font-size: 15px;
    text-align: center;
    color: $white;
    background-color: $black;
  }

  &__addict {
    width: 100%;
    line-height: 40px;
    padding-bottom: 20px;
    font-size: 15px;
    text-align: center;
    color: $red;
    background-color: $black;
  }

}