<div class="breadcrumb">
    <div class="breadcrumb__text">
        <span>
            <a href="{{ path('homepage') }}">
                <div class="breadcrumb__text-logo"></div>
            </a>
        </span>
{#        {% set urls = app.request.uri|split('/') %}#}
        {% for breadcrumb in breadcrumb() %}
            {% if breadcrumb.url != 'accueil' %}
                <div>
                    <span class="breadcrumb__text-separator">/</span>
                    <span class="breadcrumb__text-path">
                        <a href="{{ breadcrumb.url }}" class="breadcrumb__text-link">
                            {{ breadcrumb.url }}
                        </a>
                    </span>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{#<p>Get path only: {{ app.request.uri }}</p>#}